@font-face {
    font-family: 'Helvetica4Light4Light';
    src: url('helv-4-light.eot');
    src: url('helv-4-light.eot') format('embedded-opentype'),
         url('helv-4-light.woff') format('woff'),
         url('helv-4-light.ttf') format('truetype'),
         url('helv-4-light.svg#Helvetica4Light4Light') format('svg');
}
