.stage
{
    padding-top: 165px;
    width: 180px;
    display: inline-block;
    vertical-align: top;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 25px;
    position: relative;
}

.stage__title
{
    font-size: 20px;
    margin: 10px 0;
}

.stage:after
{
    position: absolute;
    display: block;
    width: 35px;
    height: 25px;
    text-align: center;
    background: #fc005e;
    color: #fff;
    content: counter(li);
    counter-increment: li;
    top: 135px;
    padding-top: 10px;
}

.stage:last-child:after
{
    display: none;
}
.stages .heading_level_3
{
    margin-bottom: 20px;
}
