.order
{
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: 295px;
    margin-left: 38px;
}

.order__description
{
    font-size: 18.67px;
}

.order__or
{
    font-size: 21px;
    /*text-align: center;*/
    margin-top: 50px;
}
.order .description
{
	text-align: left;
}
