.logo
{
    float: left;
    background: url(logo.svg) 0 0 / 100% no-repeat;
    width: 125px;
    height: 90px;
    margin-right: 90px;
    position: relative;
}
.logo__slogan 
{
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 12px;
    color: #fff;
}
.logo__title 
{
    text-indent: -800px;
    overflow: hidden;
}
