.button
{
    text-align: center;
    border: none;
    color: #fff;
    width: 100%;
    cursor: pointer;
    transition: background .2s linear;
}

.button:focus
{
    outline: none;
}

.button:active, .button:focus
{
    box-shadow: inset 1px 1px 15px rgba(42, 22, 20, 0.95);
}
