.carousel
{
    line-height: 1.3;
    font-size: 18.85px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.carousel__control.carousel__control_theme_mini
{
    background: transparent;
    cursor: pointer;
}

.carousel__paginator
{
    /*width: 160px;*/
    width: 70px;
    margin: 73px 10px 40px 73%;
    cursor: pointer;
}

.carousel__paginator-button
{
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 6px;
    background: #fff;
}

.carousel__paginator-button_state_active
{
    background: #e36723;
}

.carousel__item .carousel__author,
.carousel__text
{
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 5px;
    background: #020E29;
    white-space: nowrap;
}

.carousel__center .carousel__author
{
    margin-top: 15px;
    font-size: 26px;
    padding: 5px;
}

.carousel__left-side .carousel__author,
.carousel__right-side .carousel__author
{
    margin-top: 35px;
    font-size: 20px;
    padding: 5px;
}

.carousel__left-side,
.carousel__right-side,
.carousel__center
{
    position: absolute;
    overflow: hidden;
}

.carousel__left-side
{
    left: 148px;
    top: 294px;
    width: 105px;
    font-size: 21px;
}

.carousel__center
{
    left: 253px;
    top: 190px;
    width: 377px;
    z-index: 1;
    transform: rotate(0.4deg);
    background: url("../../desktop.blocks/carousel/first-screen-slider_center.svg") -253px -191px no-repeat;
    background-size: 340%;
}

.carousel__center-inner
{
    margin: 40px 35px;
    height: 435px;
    width: 260px;
}

.carousel__right-side
{
    left: 485px;
    top: 278px;
    width: 240px;
    font-size: 21px;
}

.carousel__left-side,
.carousel__right-side
{
    filter: blur(2px);
}
