.carousel
{
    line-height: 1.3;
    font-size: 18.85px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.carousel__control.carousel__control_theme_mini
{
    background: transparent;
    cursor: pointer;
}

.carousel__paginator
{
    /*width: 160px;*/
    width: 70px;
    margin: 73px 10px 40px 73%;
    cursor: pointer;
}
.carousel__paginator-button
{
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 6px;
    background: #fff;
}
.carousel__paginator-button_state_active
{
    background: #e36723;
}
.carousel__item .carousel__autor, .carousel__item span
{
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 5px;
    background: #020E29;
    white-space: nowrap;
}
.carousel__center .carousel__autor
{
    margin-top: 15px;
    font-size: 26px;
    padding: 5px;
}
.carousel__leftSide .carousel__autor, .carousel__rightSide .carousel__autor
{
    margin-top: 35px;
    font-size: 20px;
    padding: 5px;
}
.carousel__leftSide, .carousel__rightSide, .carousel__center
{
    position: absolute;
    overflow: hidden;
}
.carousel__leftSide
{
    left: 148px;
    top: 294px;
    width: 105px;
    font-size: 21px;
}
.carousel__center 
{
    left: 253px;
    top: 190px;
    width: 377px;
    z-index: 1;
    transform: rotate(0.4deg);
    background: url("../../desktop.blocks/carousel/first-screen-slider_center.svg") -253px -191px no-repeat;
    background-size: 340%;
}
.carousel__centerInner
{
    margin: 40px 35px;
    height: 435px;
    width: 260px;
}

.carousel__rightSide
{
    left: 485px;
    top: 278px;
    width: 240px;
    font-size: 21px;
}
.carousel__leftSide, .carousel__rightSide
{
    filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
}
