.contacts__inner
{
    width: 770px;
    margin: 10px auto;
    padding: 30px 100px;
    white-space: nowrap;
}

.contacts__form
{
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    width: 280px;
    margin-left: 150px;
}

.contacts .input:first-child .input__control
{
	margin-bottom: 15px;
}

.contacts__form-hint
{
    font-size: 9px;
    line-height: normal;
    margin: 15px;
    color: #a0a0a0;
}

.contacts .input
{
    outline: 2px solid #ff6815;
}
