.portfolio
{
    position: relative;
    overflow: hidden;
    padding: 40px 0 80px;
    background: #021434;
    color: #fff;
}

.portfolio:before
{
    position: absolute;
    top: -100%;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(ellipse at center, #38636c 0%, #021434 80%);
    content: '';
}

.portfolio .section__inner
{
    position: relative;
}

.portfolio .heading_level_3
{
    margin-top: 0;
    margin-bottom: 58px;
}


.portfolio .carousel__inner
{
    width: 96%;
}

.portfolio .carousel__img
{
    float: left;
    width: 530px;
}

.portfolio .carousel__summary
{
    position: relative;
    float: left;
    margin-left: 15px;
    width: 380px;
    height: 315px;
}

.portfolio .carousel__control
{
    top: 54%;
    left: 10px;
}

.portfolio .carousel__control_type_right
{
    right: 10px;
    left: auto;
}

.portfolio .carousel__control
{
    border-radius: 0;
    opacity: 1;
}

.portfolio .carousel__control_type_right
{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 19px solid #fc005e;
}

.portfolio .carousel__control_type_right:hover
{
    border-left-color: #a60034;
}

.portfolio .carousel__control_type_left
{
    margin-left: -35px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 19px solid #fc005e;
    border-bottom: 8px solid transparent;
}

.portfolio .carousel__control_type_left:hover
{
    border-right-color: #a60034;
}

.portfolio .carousel__result
{
    position: absolute;
    bottom: 0;
    width: 250px;
    color: #fc005e;
    font-size: 17px;
}

.portfolio .carousel__price
{
    position: absolute;
    bottom: 50px;
    color: #1bcb88;
    font-size: 17px;
}
