.portfolio
{
    background: #021434;
    color: #fff;
    padding: 1px 0 75px 0;
}

.portfolio__inner
{
    max-width: 1000px;
    margin: auto;
}

.portfolio .carousel__inner
{
    width: 96%;
}

.portfolio .carousel__img
{
    width: 530px;
    float: left;
}

.portfolio .carousel__summary
{
    float: left;
    width: 380px;
    margin-left: 15px;
    position: relative;
}

.portfolio .carousel__control
{
    left: 10px;
    top: 54%;
}

.portfolio .carousel__control_type_right
{
    right: 10px;
    left: auto;
}

.portfolio .carousel__control
{
    border-radius: 0;
    opacity: 1;
}

.portfolio .carousel__control_type_right
{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 19px solid #fc005e;
    border-bottom: 8px solid transparent;
}

.portfolio .carousel__control_type_right:hover
{
    border-left-color: #a60034;
}

.portfolio .carousel__control_type_left
{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 19px solid #fc005e;
    border-bottom: 8px solid transparent;
    margin-left: -35px;
}

.portfolio .carousel__control_type_left:hover
{
    border-right-color: #a60034;
}

.portfolio .carousel__result
{
    font-size: 17px;
    color: #fc005e;
    position: absolute;
    bottom: 0;
    width: 250px;
}

.portfolio .carousel__price
{
    font-size: 17px;
    color: #1bcb88;
    position: absolute;
    bottom: 50px;
}
.portfolio .heading_level_3 
{
    margin-top: 40px;
    margin-bottom: 50px;
}
