.stages
{
    padding: 46px 0 120px;
}

.stages .heading_level_3
{
    margin-bottom: 29px;
    margin-top: 0;
}

.stages__inner
{
    padding: 0;
    margin: 0;
    position: relative;
    counter-reset: li;
    list-style: none;
}
