.input__control
{
    width: 265px;
    height: 32px;
    color: #1bcb88;
    font-size: 14px;
    padding-left: 10px;
}

.input:first-child .input__control
{
    margin-bottom: 23px;
}

input::-webkit-input-placeholder
{
    color: #1bcb88;
}

input:-moz-placeholder
{
    color: #1bcb88;
}
