.button_color_pink
{
    background: #fc005e;
}

.button_color_pink:hover
{
    background: #a60034;
}
.button_color_pink:focus
{
    -webkit-box-shadow: 0px 0px 15px #fc005e;
       -moz-box-shadow: 0px 0px 15px #fc005e;
    		box-shadow: 0px 0px 15px #fc005e;
}
