.first-screen
{
    background: -webkit-linear-gradient(left, #E1E1E1, #9A9A9A);
    background: linear-gradient(to right, #E1E1E1, #9A9A9A);
}

.first-screen__inner
{
    max-width: 1000px;
    margin: auto;
}

.first-screen .form-all
{
    width: auto;
}

.first-screen__carousel
{
    width: 600px;
}
