.first-screen
{
    background: linear-gradient(to right, #e1e1e1, #9a9a9a);
}

.first-screen__inner
{
    max-width: 1000px;
    margin: auto;
}

.first-screen .form-all
{
    width: auto;
}

.first-screen__carousel
{
    float: left;
    width: 600px;
}
